/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.toplevel_page_import_page .wp-menu-image img {
    width: 16px;
    height: 16px;
}

.product-csv-importer-admin-wrapper select {
    width: 25em;
}

.importer-file-field-wrap span {
    padding: 0.5em;
    float: left;
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    background: #9b59b6;
    color: #fff;
    margin-left: 0;
    width: 504px;
}

.importer-file-field-wrap label {
    padding: 0.5em;
    display: inline-block;
    background: #804399;
    cursor: pointer;
    color: #fff;
}

.importer-file-field-wrap label:hover {
    background: #623475;
}

.importer-file-field-wrap input[type="file"] {
    position: absolute;
    left: -9999px;
}

.product-csv-importer-admin-wrapper .description {
		max-width: 350px;
}

.product_csv_importer_logo_large {
		position: absolute;
	  max-height: 350px;
	  left: 700px;
}

.product-csv-importer-admin-wrapper .notif {
		max-width: 525px;
}
